@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');




body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 3000px;
  background-size: 1000px;
  background-image: url("https://www.psdgraphics.com/wp-content/uploads/2022/01/white-math-paper-texture.jpg");
  background-position: center center;
}

.paper {
  background-image: url("https://i0.wp.com/textures.world/wp-content/uploads/2018/10/2-Millimeter-Paper-Background-copy.jpg?ssl=1");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;
  min-width: 800px;
  
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 700px;
  width: 100%;
  user-select: none;
}

.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;

}

.paper.red {
/*   filter: hue-rotate(90deg); */

}
.paper:nth-of-type(3n) {
  background-position: left top;
}
.paper:nth-of-type(3n) {
/*   filter: hue-rotate(200deg); */
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0, 0, 0);
 
  user-select: none;
  
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}

audio-player {
  display: inline-block;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

audio {
  width: 600px;
  position: relative;
  left: 400px;
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
}

/* Customize the audio controls (optional) */
audio::-webkit-media-controls-panel {
  background-color: #ececec;
}

audio::-webkit-media-controls-play-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #fff;
  border: 1px solid #ffffff;
}

.video-player {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

video {
  width: 1000px;
  height: 600px;
  position: absolute;
  left: 250px;
  top: 1200px;
  background-position: center center; 
  
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
}

/* Customize the video controls (optional) */
video::-webkit-media-controls-panel {
  background-color: #333;
}

video::-webkit-media-controls-play-button {
  background-color: #000000;
  color: #333;
  border: 1px solid #333;
}

video::-webkit-media-controls-volume-slider {
  background-color: #000000;
  border: 1px solid #333;
}
